.container {

  width: 100px;

  margin-left: 50%;

  background-image: url('../../images/car-transport-svgrepo-com.svg'); 
  background-position: right;
  background-size: contain;     
  background-repeat: no-repeat;
}