@mixin fl {
    display: flex;
    align-items: center
}

.itemContainer {

    .itemHeart {

        margin-left: auto;

        cursor: pointer;
    }

    .itemImage {

        @include fl;
        flex-direction: column;
        justify-content: flex-start;

        height: 274px;

        padding: 10px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // object-fit: cover;
        border-radius: 14px;
    }
    
    .title {
       
        @include fl;
        flex-direction: row;
        justify-content: space-between;
    
        p {
            font-family: Manrope;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;

            
            .modelText {
                color: var(--button-color);
            }
        }
    }

    .textSupport {
        font-size: 14px;
        line-height: 18px;
        text-align: left;

        height: 50px;

        margin: 0 0 30px 0;

        color: var(--text-support);

        .slash {
           color: var(--border-support); 
        }

        overflow-y: hidden;
        
    }
    
    button {
        width: 100%;
    
        border: none;
        border-radius: 14px;
    
        background-color: var(--button-color);

        cursor: pointer;

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600; 
            color: var(--text-white);
        }
    }

    button:focus {
        outline: none;
    }
}