@import-normalize; /* bring in normalize.css styles */

:root {
  --button-color: rgba(52, 112, 255, 1);
  --text-white: rgba(255, 255, 255, 1);
  --border-support: rgba(18, 20, 23, 0.2);
  --text-support: rgba(18, 20, 23, 0.5);
  --text-control: rgba(18, 20, 23, 1);
  --text-searchTitle: rgba(138, 138, 137, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
